body{
    background-color: aqua;
}
div{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    margin: 5px;
    animation-name: expand;
     animation-duration: 0s;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
     animation-iteration-count: infinite;
    transition: 1s ease-in; 

}
div:hover{
    /* animation-play-state: paused; */
    background-color: chartreuse;
    transform: rotate(360deg);

}
/* @keyframes expand{
    from{
        width: 100px;
    }
    to{
        width: 600px;
    }
} */
 @keyframes expand{
    0%{
        width: 100px;
        /* background-color: slategray; */
    }
    50%{
        width: 600px;
        height: 20px;
        /* background-color: yellow; */
    }
    100%
 {
    width: 700px;
    height: 100px;
    /* background-color: crimson; */
 }
 }