body{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .box{
    height: 100px;
    width: 100px;
    background-color: blue;
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes move{
    0%{
        transform: translateX(0) rotate(0deg);
        background-color: brown;
    }
    50%{
        transform: translateY(200px) rotate(180deg);
        background-color: chocolate;
    }
    100%{
        transform: translateZ(400px) rotate(360deg);
        background-color: darkmagenta;
    }
} 
.scalebox{
    height: 100px;
    width: 100px;
    background-color: crimson;
    animation-name:anim2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 20px;


}
@keyframes anim2{
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleY(1.5);
    }

}
.squebox{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
    animation-name: anim3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    

}
@keyframes anim3{
    0%{
        transform: skew(0deg,0deg);
        background-color: black;
    }
    100%{
        transform: skew(40deg,60deg);
        background-color: blue;
    }
}