body{
    background-color: blanchedalmond;
    background-image: url(restaurant.jpg);
    background-size: 800px 800px;
    background-repeat: no-repeat;
    background-position: 100px 50px;

}
.one{
    background-color: blueviolet;
}