.div1{
    background-color: black;
    color: aqua;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    /*margin:50px;*/
}
.div2{
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    background-color: black;
    color: aqua;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 90px;
    /*padding:50:*/
}
.div3{
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    background-color: black;
    color: aqua;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: black;
    color: aqua;
    border-top: dashed cornflowerblue;
    border-left: solid cornflowerblue;
    border-right: double cadetblue;
    border-bottom: dotted cornflowerblue;
}