h1{
    color: darkgoldenrod;
    text-align: center;
}
table{
    text-align: center;
    background-color: burlywood;
    font-weight: bolder;
    width: 60%;
    height: 400px;



}
.class1{
    text-align: center;
}
th{
    background-color: rgb(220, 9, 122);
}
