
body{
    background-color: rgba(5, 4, 31, 0.952);

}
.main{
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 1090px;
    margin: 100px auto;  
    
}
.container1{
    display: flex;
    gap: 30px;
    max-height: 220px;
}
.container2{
    display: flex;
    gap: 30px;
    /* margin-top: 15px; */


}
.box{
   max-width: 250px;
   height: 210px;
   background-color: blue;
   border-radius: 20px;
}
.box1{
    border-radius: 20px;
    width: 250px;
    height: 275px;
    margin-top: 0px;
    position: relative;
    background-color: rgb(28, 80, 234);
    color: white;
}
img{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
.box1 h4{
    margin-left: 20px;
    font-size: 15px;
    font-weight: 100;
}
.box1 h1{
    margin-left: 20px;
    line-height: 30px;
}
.box2{
    
    background-color: rgb(252, 138, 57);
}
.colorbox{
    width: 250px;
    background-color: rgb(21, 5, 92);
    height: 150px;
    border-radius: 10px;
    margin-top: 60px;
    color: white;

}
.top{
    display: flex;
    gap: 60px;
}
.top h4{
    margin-left: 20px;
    font-size: 15px;
    width: 130px;
}
.top h3{
    font-size: 25px;
    margin-top: 15px;
}
.colorbox h1{
    margin-top: -20px;
    margin-left: 20px;
    font-size: 40px;
}
.hed{
     margin-left: 20px;
    font-size: 15px;
    font-weight: 100;
    margin-top: -15px;
}
.box3{
    
    background-color: cadetblue;
}
.box4{
    
    background-color: rgb(245, 59, 59);
}
.box6{
    
    background-color: rgb(52, 223, 52);
}
.box7{
    
    background-color: blueviolet;
}
.box8{
    
    background-color: rgb(227, 245, 68);
}

.box5{
    height: 200px;
    width: 250px;
    background-color: rgb(21, 5, 92);
    border-radius: 10px;
}

.content{
   
    width: 100px;
    margin-top: 45px;
    margin-left: 20px;
    line-height: 20px;
}
.content h4{
     font-size: 15px;
    font-weight: 100;
    color: rgb(172, 169, 169);
}
#white{
    color: white;
}
/* tablet */
@media(max-width:992px){
    .main{
        /* max-width: 880px; */
            
            align-items: center;
    }
    
    .box{
   width: 190px;
   height: 210px;
}
.container1{
    display: flex;
    gap: 30px;
    max-height: 220px;
    /* margin-left: 15px; */
}
.container2{
    display: flex;
    gap: 30px;
    margin-top: 15px;
    margin-left: 15px;


}
.colorbox{
    width: 190px;
    background-color: rgb(21, 5, 92);
    height: 150px;
    border-radius: 10px;
    margin-top: 60px;
    color: white;

}
.top{
    gap: 0px;
}
.box1{
    border-radius: 20px;
    width: 190px;
    height: 275px;
    margin-top: px;
    position: relative;
    background-color: rgb(28, 80, 234);
    color: white;
}
.box5{
    height: 200px;
    width: 190px;
    background-color: rgb(21, 5, 92);
    border-radius: 10px;
}

}
/* Mobile */
@media(max-width:480px){
    .main{
        flex-direction: row;
         gap: 10px;
         justify-content: center;
        
        margin: 0px;
        max-height: 1200px;

    }
    .container1{
       align-self: start;
       flex-direction: column;
       margin-top: 15px;
        
    
    }
    .container2{
        flex-direction: column;

    }
.box1{
   line-height: 0px;
   height: 210px;


}
.box5{
    height: 210px;
    border-radius: 20px;
}
}