.div1{
    background-image: url("https://c.files.bbci.co.uk/0C20/production/_102440130_gettyimages-104559594.jpg");
    background-repeat: no-repeat;
    
   
    background-size: cover;
    
    padding: 300px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border: 3px solid rgb(9, 10, 10);
}
.div2{
    background-image: url("https://publisher-ncreg.s3.us-east-2.amazonaws.com/pb-ncregister/swp/hv9hms/media/20231122221124_45448c583eabca7ad6be347939c641312d4ce7570209ad29d3345175aea14fec.jpg");
    background-repeat: no-repeat;
    
   
    background-size: cover;
    border: 3px solid rgb(9, 10, 10);
    
    padding: 300px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.div3{
    background-image: url("https://cdn.britannica.com/36/162636-050-932C5D49/Colosseum-Rome-Italy.jpg");
    background-repeat: no-repeat;
    
   
    background-size: cover;
    border: 3px solid rgb(9, 10, 10);
    
    padding: 300px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

