body{

    display: flex;
    justify-content: center;
}
.main{
    background-color: rgb(3, 3, 21);
    width: 900px;
    height: 710px;
    display: flex;
    flex-direction:column;

   
}
.heading{
    width: 400px;
    height: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}
.heading h1{
    margin-bottom: -10px;
    color: aliceblue;
    text-align: left;
    margin-top: 40px;
    margin-left:40px;
    font-size: 50px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}
.para{
    width: 400px;

}
.para p{
    color: aliceblue;
    margin-left:40px;
    text-align:left;
    margin-bottom: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}
#explore{
    color: black;
    margin-left:40px;
    background-color: azure;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    padding: 5px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.img1{
    height: 140px;
    width: 400px;
    margin-left: 25px;
    border-radius: 10px;
    margin-top: 20px;
}
#img2{
    height: 140px;
    width: 260px;
    margin-left: 25px;
    border-radius: 10px;
    margin-top: 20px;
}
.container{
    display: flex;
}
.container1{
    display: flex;
    position: relative;
    top: -700px;
    left: 470px;
    width: 400px;
    gap: 20px;

    
    
}
.imgbox{
    
    height: 250px;
    width: 200px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
}
.imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box{
    width: 90px;
    height: 5px;
    background-color: aliceblue;
    position: absolute;
    top: 300px;
    margin-left: 560px;
    border-radius: 5px;
}
.note{
    display: flex;
    flex-direction: column;
    width: 260px;
    position: absolute;
    top: 330px;
    margin-left: 560px;


}
#f{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 70px;
    margin-top:px;
    text-align:left;
    color: antiquewhite;
}
#f p{
    margin-top: -10px;
}
#f h2{
    margin-top: 0px;
    font-family: monospace;
}
