body{
     display: flex;
     justify-content: center;
    margin-top: 60px;
    background-color: black;
    
}
.main{
    width: 1300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}
.container1{
    
    height: 250px;
    color: rgb(86, 9, 86);
    text-align: left;
    margin-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container2{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 500px;
    margin-top: 50px;
    margin-left: 240px;
    
    gap: 20px;
    font-weight: bold;
    color: rgb(86, 9, 86);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rating1 { 
    display: inline-flex; 
    align-items: center; 
    gap: 40px; 
    background-color: rgb(242, 241, 240);
    padding: 15px;
    border-radius: 10px;
    width: 350px;
}
.rating2 { 
    display: inline-flex; 
    align-items: center; 
    gap: 40px; 
    background-color: rgb(242, 241, 240);
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    margin-left: 43px;
}
.rating3 { 
    display: inline-flex; 
    align-items: center; 
    gap: 40px; 
    background-color: rgb(242, 241, 240);
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    margin-left: 88px;
}
.container3{
    height: 280px;
    width: 1200px;
    gap: 30px;
    display: flex;
    margin-top: 30px;
}
.box{
    height: 240px;
    width: 350px;
    background-color: rgb(86, 9, 86);
    border-radius: 10px;
}
.box1{
     margin-left: 50px;
}
.box2{
    margin-top: 20px;
}
.box3{
     margin-top: 40px;
}
img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-top: 30px;
    margin-left: 30px;
   
}
.para{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    color: aliceblue;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 14px;

}
.box1A{
    width: 100px;
    height: 30px;
    margin-left: 100px;
    margin-top: -65px;
    color: aliceblue;
}
.box1A h6{
    margin-top: -20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(211, 8, 116);
}
