body{
    background-color: rgb(16, 16, 16);
     display: flex;
     justify-content: center;

    


    
    
}
.container{
   
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;             /* allows multiple rows */
  align-items: center;                            /* aligns vertically */
  gap: 20px;                    /* equal space between all cards */
  background-color: #eaf6ff;    /* light background */
  padding: 40px;
  max-width: 1000px;
  max-height: 600px;
  margin: 10px auto;            /* center the whole section */
  border-radius: 20px;
  justify-content: space-evenly;
   
}
img{
    width: 200px;
    height: 200px;
    border-radius:100px;
}

.box1{
background-color: #dbd0d0;
  border-radius: 20px;
  width: 200px; 
  height: 265px;                /* same width for all */
  text-align: center;
  padding: 20px;
  margin-top: -10px;
}

.box{
  border-radius: 20px;
  width: 200px; 
  height: 265px;                /* same width for all */
  text-align: center;
  padding: 20px;
  margin-top: -10px;
}

h4{
    font-weight: lighter;
}
