body{
    background-color: rgb(16, 16, 16);
     display: flex;
     justify-content: center;

    

    


    
    
}
.maincontainer{
   
    
    width: 900px;
    height: 700px;
    background-color: aliceblue;

    
   
}
img{
    width: 200px;
    height: 200px;
    border-radius:100px;
}
.containerbox1{
    display: flex;
   justify-content: space-around;
   background-color: aliceblue;
   height: 300px;
   margin-top: 20px;

   


}
.box1{
    background-color: rgb(229, 225, 220);
    padding: 20px;
    text-align: center;
    
}
.box2{
    /* background-color: cadetblue; */
    padding: 20px;
    text-align: center;
    
}
.box3{
    /* background-color: rgb(22, 40, 73); */
    padding: 20px;
    text-align: center;
    
}

.containerbox2{
    display: flex;
   justify-content: space-around;
   background-color: aliceblue;
   height: 300px;
   margin-top: 60px;
}
.box4{
    /*background-color: blue;*/
    padding: 20px;
    text-align: center;

    
}
.box5{
    /*background-color: aquamarine;*/
    padding: 20px;
    text-align: center;
    
}
.box6{
    background-color: rgb(209, 221, 217);
    padding: 20px;
    text-align: center;
  
}
h4{
    font-weight: lighter;
}

