.container{
    display: flex;
    gap: 20px;
    background-color: rgb(100, 167, 146);
    padding: 30px;
}
.item1{
    padding: 10px;
    background-color: blue;
    
}
.itema{
    flex-grow: 1;
}
.itemb{
    flex-grow:1 ;
}
.itemc{
    flex-grow: 1;
}
.container1{
    display: flex;
    gap: 20px;
    background-color: rgb(100, 167, 146);
    padding: 30px;
    margin-top: 50px;
    width: 300px;
}
.item2{
    padding: 20px;
    width: 250px;
    background-color: chocolate;
}
.itemD{
    flex-shrink:1;
}
.itemE{
    flex-shrink:0;
}
.itemF{
     flex-shrink:1;

}
   
