.container{
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    padding: 20px;
    border: 2px solid red;

}
.box{
    width: 150px;
    height: 100px;
    background-color: blueviolet;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}