.box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: blue;
}
/* tablet and above screen */
@media(min-width:600px){
    .box{
        background-color: chartreuse;
    }
}
/* Desktop */
@media(min-width:900px){
    .box{
        background-color: blueviolet;
    }
}