body {
  background: linear-gradient(rgba(14, 13, 15, 0.952), rgba(14, 12, 21, 0.941)),url("https://st.depositphotos.com/4590583/52718/i/450/depositphotos_527186184-stock-photo-cutlery-black-stone-table-vegetables.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
   
    padding: 20px 50px;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;

}
.logo{
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(242, 165, 33);
    font-size: 30px;
    font-weight: 600;
    
}
.image1{
    height: 50px;
    width: 50px;

}
.links{
    display: flex;
    gap: 30px;
    position: relative;
    right: -250px;
    
}
.links li{
    list-style: none;
}
.links a{
    text-decoration: none;
    color: aliceblue;
}
#Home{
    color: rgb(242, 165, 33);
}
.button{
    padding: 20px 30px;
    background-color: goldenrod;
    color: aliceblue;
    font-weight: bold;
}
.container{
    
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 100px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container h1{
    
    font-weight: 700px;
    word-spacing: px;
    font-size: 60px; 
    line-height: 1.3;
    font-family: 'Poppins', sans-serif; 
    margin-bottom: 25px;
}
.button2{
    padding: 15px 40px;
    background-color: goldenrod;
    color: aliceblue;
    font-weight: bold;
    margin-left: 45px;
    
}
.image{
    width: 500px;
    position: absolute;
    top: 190px;
    right: 150px;

}
.image img{
    border-radius: 900px;
    width: 500px;
    height: 500px;
    border: 6px solid black;

}