/* mobile view */
.navbar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: black;
    padding: 15px;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    
}
/* tablet view */
@media(min-width:600px){
      .navbar{
        flex-direction: row;
        justify-content: space-between;
      }
      .navbar a{
        color: chartreuse;
      }
}
/* Desktop view */
@media(min-width:900px){
    .navbar a{
        font-size: 22px;
        color: aqua;

    }
}
.box{
    background-color: aquamarine;
    padding: 20px;
    min-height: 150px;
    max-height: 250px;
    overflow-y: auto;
    margin: auto;

    min-width: 200x;
    max-width: 400px;
    border: dashed darkgreen;

}
