.navbar{
    display: flex;
    background-color: aquamarine;

}
.About{
    height: 500px;
    background-color: blueviolet;
}
.Home{
    height: 500px;
    background-color: yellow;
}
.services{
    height: 500px;
    background-color: tomato;
}
.Contact{
    height: 500px;
    background-color: blue;
}
.Gallery{
    height: 500px;
    background-color: darkgreen;
}
html {
    scroll-behavior: smooth;
}