#para{
    font-weight: 400;
    color: darkgreen;
}
.class1{
    font-size: larger;
    color: aliceblue;
    text-decoration: line-through;

}
.class{
    font-style: italic;
    color: coral;
}
h2{
    font-family: fantasy;
    text-align: center;
    color: brown;
}
body{
    background-color: black;
}
li{
   list-style-type: none;
}
a{
  text-decoration: none;
}