body{
    background-color: black;
    display: flex;
    justify-content: center;
    

}
.main{
    background-color: white;
    height: 700px;
    width: 1400px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px;
    align-items: center;
}
.links{
    display: flex;
    gap: 60px;
    
    
    position: relative;
    right: -450px;
    font-family: 'Poppins', sans-serif;
}
.links li{
    list-style: none;
}
.links a{
    text-decoration: none;
    color: rgb(76, 71, 71);
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-left: 90px;

}
.logo h1{
    padding: 2px 10px;
    background-color: rgb(245, 81, 81);
    border-radius: 10px;
    border-left: 6px solid red;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.container{
   
    width: 600px;
    margin-left: 90px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    
   


}
.container h1{
    line-height: 80px;
    font-size: 60px;
    
}
.container p{
     color: rgb(76, 71, 71);
}
.button{
   padding: 10px 20px;
   background-color: rgb(245, 81, 81);
   color: white;
   font-family: 'Poppins', sans-serif;
   border-radius: 5px;
   border: 0px;
   margin-top: 30px;

}
.image{
    background-color:whitesmoke;
    width: 470px;
    position: absolute;
    top: 160px;
    right: 200px;
    border-radius: 10px;
}
.image img{
    margin-left: -95px;
}